In [3]:
import pandas as pd

# Creating a Series with hierarchical (MultiIndex) indexing
# The outer index is [1, 1, 1, 2, 2, 2]
# The inner index is ['a', 'b', 'c', 'a', 'b', 'c']
# Together they form a MultiIndex (2-level hierarchy)
ser1 = pd.Series(
    [1, 2, 3, 4, 5, 6],
    index=[
        [1, 1, 1, 2, 2, 2],       # Level 0 of the MultiIndex (can be considered as group/category)
        ['a', 'b', 'c', 'a', 'b', 'c']  # Level 1 of the MultiIndex (sub-category within each group)
    ]
)

# Display the Series with hierarchical index
print(ser1)

1  a    1
   b    2
   c    3
2  a    4
   b    5
   c    6
dtype: int64

In [4]:
# Naming the levels of the MultiIndex
# 'first' will be the name of level 0 (e.g., 1, 2)
# 'second' will be the name of level 1 (e.g., 'a', 'b', 'c')
ser1.index.names = ['first', 'second']

# Display the Series
print(ser1)

first  second
1      a         1
       b         2
       c         3
2      a         4
       b         5
       c         6
dtype: int64

In [5]:
#you seeing first and secomd as the names of the levels
#you can access the first's 1st,2nd,3rd etc. elements
print('ser1[1]:', ser1[1])  # Accessing all elements under the first level index 1
print('ser1[2]:', ser1[2])  # Accessing all elements under the first level index 2

ser1[1]: second
a    1
b    2
c    3
dtype: int64
ser1[2]: second
a    4
b    5
c    6
dtype: int64

In [7]:
#suppose you want to acess second level index 'a' value
print('ser1[:, "a"]:\n', ser1[:, 'a'])  # Accessing all elements under the second level index 'a'

ser1[:, "a"]:
 first
1    1
2    4
dtype: int64

In [10]:
#converting the Series to a DataFrame
df1 = ser1.unstack()  # Unstacking the Series to convert it into a DataFrame
df1

second  a  b  c
first
1       1  2  3
2       4  5  6

In [18]:
# We can swap the levels of the MultiIndex
# This means 'second' becomes the outer level and 'first' becomes the inner level
ser2 = ser1.swaplevel()

# Now ser2 has MultiIndex with levels: ('second', 'first')
# Sorting by level 0 (which is now 'second' after swapping)
ser2 = ser2.sort_index(level=0)


# Display the result
print(ser2)

ser2.sort_index(level=1)

second  first
a       1        1
        2        4
b       1        2
        2        5
c       1        3
        2        6
dtype: int64

second  first
a       1        1
b       1        2
c       1        3
a       2        4
b       2        5
c       2        6
dtype: int64

In [ ]:
#suppose u want to sum all values of "a" which is in second level at 0 after sswap
ser2.groupby(level=0).sum()  # Summing all values grouped by the first level index (which is now 'second')

second
a    5
b    7
c    9
dtype: int64

In [21]:
#suppose u want to summ all values of "1" index which is now at 1 index after swap
ser2.groupby(level=1).sum()  # Summing all values grouped by the second level index (which is now 'first')

first
1     6
2    15
dtype: int64