In [11]:
import pandas as pd
import numpy as np



x= np.arange(0,20).reshape(5,4)
#Suppose you want to read a ecxel file with a specific sheet name
#then Panda will read the file and return a DataFrame
#it will read it as a Datafreame object 
#we can create a Dataframe using pandas library


#Here we are creating a DataFrame using the numpy array x
#index is the row names and columns are the column names, if index and colomns are mistakenly written then it will throw an error 
#example if rows are 5 then there should be 5 index names and if columns are 4 then there should be 4 column names
df = pd.DataFrame(x, index = ['row1', 'row2', 'row3', 'row4', 'row5'], columns = ['col1', 'col2', 'col3', 'col4'])



#df.head() will return the first 5 rows of the DataFrame
print("First 5 rows of the DataFrame:", df.head(), sep='\n')

#df.tail() will return the last 5 rows of the DataFrame
print("Last 5 rows of the DataFrame:", df.tail(), sep='\n')

#if u want to see specific number of first rows then df.head("number of rows") will return that many rows
df.head(3)  # Returns the first 3 rows


#df.info() will return the information about the DataFrame
print("Information about the DataFrame:", df.info(), sep='\n')


#df.describe() will return the statistical summary of the DataFrame
print("Statistical summary of the DataFrame:", df.describe(), sep='\n')

First 5 rows of the DataFrame:
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19
Last 5 rows of the DataFrame:
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int64
 1   col2    5 non-null      int64
 2   col3    5 non-null      int64
 3   col4    5 non-null      int64
dtypes: int64(4)
memory usage: 200.0+ bytes
Information about the DataFrame:
None
Statistical summary of the DataFrame:
            col1       col2       col3       col4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
#indexing 
#columname, rowindex[loc], rowindex columnindex iloc
df.head()

#indexing columns, for multiple columns we can use double square brackets
l = df[['col1', 'col2','col3']]  # Returns the first three columns

#for single column we can use single square brackets
s =df['col1']

#now if we see type of l and s

print("Type of l (multiple columns):", type(l))
print("Type of s (single column):", type(s))

#l is a DataFrame and s is a Series, DataFrame is a 2D structure and Series is a 1D structure

#using loc and iloc for indexing
df.loc['row1']  # Returns the first row
df.loc[['row1', 'row2']]  # Returns the first two rows


#using iloc we can access rows and columns by their integer index
df.head()

#suppose we want middle rows and middle  columns
df.iloc[1:4,1:4] #inside iloc we have a comma left side is for rows and right side is for columns

Type of l (multiple columns): <class 'pandas.core.frame.DataFrame'>
Type of s (single column): <class 'pandas.core.series.Series'>

      col2  col3  col4
row2     5     6     7
row3     9    10    11
row4    13    14    15

In [20]:
#converting DataFrame to numpy array
df.iloc[:,1:].values  # Returns the values of the DataFrame as a numpy array

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [23]:
#to check if null values are present in the DataFrame
print("Null values in the DataFrame:", df.isnull().sum(), sep='\n')
#here isnull().sum() will return the number of null values in each column



#if we want elements greater than 3 then we can do it like
print("Elements greater than 3 in the DataFrame:", df[df > 3], sep='\n')


df[df['col1'] > 3]  # Returns the rows where col1 is greater than 3

Null values in the DataFrame:
col1    0
col2    0
col3    0
col4    0
dtype: int64
Elements greater than 3 in the DataFrame:
      col1  col2  col3  col4
row1   NaN   NaN   NaN   NaN
row2   4.0   5.0   6.0   7.0
row3   8.0   9.0  10.0  11.0
row4  12.0  13.0  14.0  15.0
row5  16.0  17.0  18.0  19.0

      col1  col2  col3  col4
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19